@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;

  --color-brand: #FDB300;
  --color-header-bg: #F5F5F5;
  --color-badge-bg: #FFF8E6;
  --color-badge-text: #333333;
  
  --color-bg-primary: #FFFFFF;
  --color-text-primary: #000000;
  --color-text-secondary: #4B5563; /* similar to gray-600 */
  --color-text-tertiary: #6B7280; /* similar to gray-500 */
  
  --color-border-card: #CCCCCC;
  --color-icon-blue: #3B82F6; /* similar to blue-500 */
}
