@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;

  --color-brand: #FDB300;
  --color-header-bg: #F5F5F5;
  --color-badge-bg: #FFF8E6;
  --color-badge-text: #333333;
  
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F9FAFB; /* gray-50 */
  --color-bg-tertiary: #F3F4F6; /* gray-100 */
  
  --color-text-primary: #000000;
  --color-text-secondary: #4B5563; /* gray-600 */
  --color-text-tertiary: #6B7280; /* gray-500 */
  --color-text-teal: #21838A;
  
  --color-border-card: #CCCCCC;
  --color-border-secondary: #E5E7EB; /* gray-200 */
  --color-border-light: #F3F4F6; /* gray-100 */
  --color-border-dark: #D1D5DB; /* gray-300 */
  
  --color-icon-blue: #3B82F6; /* blue-500 */
  --color-icon-gray: #9CA3AF; /* gray-400 */
  
  --color-forgot: #812926;
  
  /* Dashboard Card Colors */
  --color-makers-bg: #EFF6FF;
  --color-makers-icon-bg: #DBEAFE;
  --color-makers-icon: #534FEB;
  
  --color-investors-bg: #F0FDF4;
  --color-investors-icon-bg: #DCFCE7;
  --color-investors-icon: #16A34A;
  
  --color-projects-bg: #FFFBEB;
  --color-projects-icon-bg: #FEF3C7;
}
