@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-brand: #FDB300;
  --color-header-bg: #F5F5F5;
  --color-badge-bg: #FFF8E6;
  --color-badge-text: #333333;
  
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F9FAFB; /* gray-50 */
  --color-bg-tertiary: #F3F4F6; /* gray-100 */
  
  --color-text-primary: #000000;
  --color-text-secondary: #4B5563; /* gray-600 */
  --color-text-tertiary: #6B7280; /* gray-500 */
  --color-text-teal: #21838A;
  
  --color-border-card: #CCCCCC;
  --color-border-secondary: #E5E7EB; /* gray-200 */
  --color-border-light: #F3F4F6; /* gray-100 */
  --color-border-dark: #D1D5DB; /* gray-300 */
  
  --color-icon-blue: #3B82F6; /* blue-500 */
  --color-icon-gray: #9CA3AF; /* gray-400 */
  
  --color-forgot: #812926;
  
  /* Dashboard Card Colors */
  --color-makers-bg: #EFF6FF;
  --color-makers-icon-bg: #DBEAFE;
  --color-makers-icon: #534FEB;
  
  --color-investors-bg: #F0FDF4;
  --color-investors-icon-bg: #DCFCE7;
  --color-investors-icon: #16A34A;
  
  --color-projects-bg: #FFFBEB;
  --color-projects-icon-bg: #FEF3C7;

  /* investor color */
  --color-investor-text : #111827;
  --color-btn-green : #059669;
  --color-btn-bg : #FCFAF8;
  --color-deal-title: #212121;
  --color-mint : #6EE7B7;
  --color-mint-linear: #ECFDF5;
  --color-mint-linear2 : #F0FDFA;
  --color-label : #BFDBFE;
  --color-label-text: #1D4ED8;
  --color-sector-label : #E0E0E0;
  --color-shield: #FF8D28;
  --color-black100 : #141414;
  --color-brown : #797979;
  --color-blue : #0088FF;
  --color-red : #C30003;
  --color-orange : #8A6100;
  --color-slate100: #D9D9D9;
  --shadow-btn : 0 1px 2px 0 rgba(0,0,0,0.05);
  --shadow-btnB : 0 2px 4px -2px #A7F3D0, 0 4px 6px -1px #A7F3D0;
}
